*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}


body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.page {
  display: flex;
  height: 1080px;
}


.knightCupHeader{
  width: 923px;
  height: 84px;
  background-color: #7025FB;
  position: relative;
}

.second-Half {
  width: 997px;
  Height: 1080px;
  position: relative;
}

.second-Half button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-Half button img {
  height: 24px;
  width: 24px;
  margin-left: 12px;
}

.knight-cup-logo {
  position: absolute;
  left: 6.5%;
  right: 63.62%;
  top: 35.71%;
  bottom: 36.49%;
  width: 257.76px;
  height: 23.35px;
}

.crown-logo {
  width: 14.67px;
  height: 18.33px;
}

.crown {
  position: absolute;
  width: 252.82px;
  height: 23.35px;
  left: 22.93px;
  top: 0px;
}

.main-board-img {
  position: absolute;
  width: 923px;
  height: 1180px;
  object-fit: cover;
  top: -100px;
  left: 0;
  z-index: -1;
}




