header h4 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  position: absolute;
  top: 30px;
  left: 48px;
}

.quote {
  font-family: "Nunito";
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 50px;
  color: #212529;
  width: 423px;
  height: 83px;
  position: absolute;
  top: 251px;
  left: 132px;
}

.author {
  font-family: "Nunito";
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  font-size: 24px;
  line-height: 32.74px;
  color: #e5e6e8;
  position: absolute;
  top: 442px;
  left: 132px;
}

.main-img {
  white-space: nowrap;
  overflow: hidden;
  height: 996px;
}

.second-img {
  object-position: 20% 130px;
}

.stroke {
  position: absolute;
  top: 84px;
  right: 0;
  width: 999px;
  height: 1px;
  background-color: rgba(185, 180, 195, 0.3);
  transform: translateY(-50%);
}

/* Progress bar */
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212529;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e5e6e8;
  position: absolute;
  top: 144px;
}


.square-p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  position: absolute;
  top: 44px;
  width: 158px;
  height: 24px;
  text-align: center;
}

.first {
  right: 850px;
}

.second {
  right: 628px;
}

.bolded {
  background-color: #e5e6e8;
  color: #95939a;
}

.progress-line {
  width: 174px;
  height: 1px;
  background-color: rgba(185, 180, 195, 0.3);
  position: absolute;
  top: 164px;
}

.first-line {
  right: 672px;
}

/* Titles */

.title {
  position: absolute;
}

.title h2 {
  color: #000;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  width: 328px;
  height: 28px;
  top: 284px;
  left: 48px;
  position: absolute;
}

#basic {
  color: #95939a;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 21px;
  width: 205px;
  height: 21px;
  position: absolute;
  top: 335px;
  left: 48px;
}

/* Input Fields */

.first-step.hug {
  width: 775px;
  height: 304px;
  position: absolute;
  top: 400px;
  left: 48px;
}

.first-step.hug input {
  display: block;
  width: 775px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
}

.first-step input:hover {
  background-color: #F8F9FA;
  color: #21252980;
}

.hug input:focus{
  outline: none;
  background-color: #E9ECEF;
  color: #212529

}

.hug input:last-child {
  margin-bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.input-group {
  position: relative;
}
.input-group input {
  /* background: transparent; */
  position: relative;
  z-index: 2;
}

.greenColor {
  background-color: #E9FAF1;
}

.error input {
  background-color: #FFEFEF;
  color: #DC3545;
  z-index: 0;
}

/* Input Label as an placeholder */
.first-step .input-group label {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  left: 17px;
  top: 7px;
  z-index: 10;
  color: #95939a;
}
.first-step .input-group label::after {
  content: " *";
  color: #DC3545;
}

.first-step input[required]:focus + label {
  display: none;
}
.first-step input[required]:valid + label {
  display: none;
}

.first-step input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
.first-step input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

.correct{
  position: absolute;
  right: 40px;
  bottom: 10px;
  visibility: hidden;
}

.success .correct {
  visibility: visible;
  z-index: 10;
}

.back-btn {
  width: 93px;
  height: 53px;
  color: #212529;
  border: 1px solid #212529;
  padding: 13px 24px 13px 24px;
  position: absolute;
  top: 750px;
  left: 48px;
  border-radius: 8px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 27.24px;
}

.back-btn:hover {
  background-color: #B9B4C34D;
  border: 1px solid #C2A5F9CC;
}

.next-btn {
  position: absolute;
  top: 750px;
  left: 695px;
  width: 128px;
  height: 53px;
  border-radius: 8px;
  padding: 13px 24px 13px 24px;
  background-color: #212529;
  font-family: "open sans";
  color: #fff;
  font-size: 20px;
  line-height: 27px;
}

/* Errors */

.errors {
  position: absolute;
  left: 550px;
  top: 54px;
}

.errors-second {
  top: 200px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.err {
  position: relative;
  width: 350px;
  height: 70px;
  border-radius: 4px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  background-color: white;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}



.error-svg {
  position: absolute;
  left: 12px;
  top: 7px;
  width: 20px;
  height: 20px;
}

.invalid {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #DC3545;
  position: absolute;
  top: 7px;
  left: 40px;
}

.error-delete {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 14px;
  left: 326px;
  cursor: pointer;
  transition: 0.4s ease;
}


.error-stroke {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(185, 180, 195, 0.3);
}

.error-message {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  position: absolute;
  top: 40px;
  left: 12px;
}

/* Second Step */

.second-step-img .quote{
  position: absolute;
  left: 117px;
  top: 227px;
  width: 615px;
  height: 83px;
  font-family: "Nunito";
  font-style: italic;
  font-size: 26px;
  color: #212529;
  line-height: 40px;
}

.second-step-img .author {
  position: absolute;
  width: 266px;
  height: 33px;
  left: 466px;
  top: 342px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 500;
  color: #093F68;
  font-family: 'Nunito';

}


.second-step input-group {
  position: absolute;
}

h4.yes-no {
  width: 743px;
  height: 30px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 625px;
  left: 53px;
  color: #000;
}

.player-level {
  position: absolute;
  top: 499px;
  left: 38px;
}

.player-character {
  position: absolute;
  top: 499px;
  left: 453px;
}

.player-character option {
  padding: 20px 0;
}

.error .selected {
  color: #DC3545;
  background-color: #FFEFEF !important;
}





.radio-input {
  position: absolute;
  background-color: #fff;
  width: 58px;
  height: 24px;
  top: 675px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.radio-yes {
  left: 55px;
}

.radios input {
  width: 22px;
  height: 24px;
}

/* Custom Selects */



.select-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  z-index: 20;
  background-color: #fff;

}

.select-box .selected {
  width: 392px;
  height: 46px;
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: none;
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.14) inset;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("../media/second_page/VectorselectDown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 26px;
  width: 14px;
  top: 18px;
  right: 20.5px;

  transition: all 0.4s;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: 0px;
}


.select-box .options-container {
  margin-top: 4px;
  transform: translateX(4px);
  width: 392px;
  /* height: 192px; */
  border-radius: 4px;
  border: 1px solid #B9B4C34D;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-height: 0;
  opacity: 0;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.select-box .options-container-level.active {
  border: none !important;
  max-height: 199px;
  opacity: 1;
}

.select-box .options-container-character.active {
  border: none !important;
  position: relative;
  max-height: 400px;
  opacity: 1;
  overflow-y: auto;
}

#options-characters {
  width: 392px;
  max-height: 400px;
}

.option-character:first-of-type {
  margin-top: 50px;
}

  
.options-container-character.active::-webkit-scrollbar {
  display: block;
  width: 4px;
}
.options-container-character.active::-webkit-scrollbar-track {
  background: transparent;
}
  
.options-container-character.active::-webkit-scrollbar-thumb {
  background-color: #CBCFD2;
  border-right: none;
  border-left: none;
}

.options-container-character.active::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 30px; 
}

.options-container-character.active::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 40px;
}



.select-box .option,
.selected {
  padding: 10px 24px;
  cursor: pointer;
}


.select-box label {
  cursor: pointer;
}

.select-box .option:hover {
  background-color: #F7F7F9;
  color: #000;
  font-weight: 600;
}

.select-box .option .radio {
  display: none;
}

.radio-no {
  left: 159px;
}

.red {
  color: red;
}

p.characters-total {
  position: absolute;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #817D7D;
  top: 16px;
  left: 28px;
}


.option-character {
  display: flex;
  width: 100%;
  margin: 10px 5px;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 5px 0;
}


.character-img {
  height: 72px;
}






